body {
    background-color:#4287f5;
}
.center {
    width: 400px;
    height: 300px;
    margin: 100px auto;
    background-color: #fff;
    border-style: groove;
    border-color: #fff;
    border-width: 5px;
}
.center td {
    height: 50px;
    vertical-align: baseline;
}
.textForm {
    width: 100%;
    height: 35px;;
}
.tombolForm {
    width: 60px;
    height: 35px;
    background-color: rgb(224, 224, 224);
    border-style: solid;
    border-color: rgb(94, 94, 94);
    border-width: 2px;
}